.navigation{
    background-color: rgb(209, 185, 188);
    text-align: center;
    height: 45%;
    margin:0 auto;
    padding:center;
}
.conteiner{
    float:center;
    padding:15px 25px;
    font-size: 20px;
    
}
.text{
    margin-right: 225px;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: right;
    width: 33.33%;
    padding: 55px;
}
.body{
    background-color: rgb(240, 221, 194);
    text-align: center;
    text-decoration-line: underline;
  }